# PRINT

In [2]:
age = 25
print("employer age : ", age)

employer age :  25

In [3]:
print("Ant's Pages")

Ant's Pages

In [4]:
print("Employee Age" , "Employee Departman", "Unit of Employee")

Employee Age Employee Departman Unit of Employee

In [7]:
print("Employee Age  \n")

Employee Age

In [8]:
print("Employee Age \n ", "Employee Departman \n")

Employee Age
  Employee Departman

In [9]:
print("Employee Age")
print("Employee Departman")
print("Employee Unit")

Employee Age
Employee Departman
Employee Unit

In [10]:
print("www", "kodluyoruz", "org", sep=".")

www.kodluyoruz.org

www.kodluyoruz.org

In [13]:
print(*"Istanbul", sep=".")

I.s.t.a.n.b.u.l

In [11]:
yaş =25
departman ="R&D"
birimi ="Coding"
print("Employee age      :" , yaş)
print("employee departman :" , departman)
print("employee unit    :", birimi)

Employee age      : 25
employee departman : R&D
employee unit    : Coding

# INPUT()

In [15]:
name = input("enter your name:")

enter your name:nazlican

In [16]:
name

'nazlican'

In [19]:
yaş = input("Yaşınızı giriniz: ")

Yaşınızı giriniz: 80

In [20]:
yaş

'80'

In [21]:
yaş = int(input("Yaşınızı giriniz: "))

Yaşınızı giriniz: 24

In [23]:
yaş

24

In [24]:
sayi1 = float(input("İlk sayınızı giriniz: "))
sayi2 = float(input("ikinci sayinizi giriniz:"))
toplam = sayi1 +sayi2
print("Toplam: ", toplam)

İlk sayınızı giriniz: 1000
ikinci sayinizi giriniz:80
Toplam:  1080.0

In [25]:
sayi1 = float(input("İlk sayınızı giriniz: "))
sayi2 = float(input("ikinci sayinizi giriniz:"))
toplam = sayi1 +sayi2
çarpım = sayi1*sayi2
print(f"Girdiğiniz sayilarin toplami {toplam} eder çarpimi ise {çarpım} eder.")

İlk sayınızı giriniz: 4
ikinci sayinizi giriniz:2
Girdiğiniz sayilarin toplami 6.0 eder çarpimi ise 8.0 eder.

In [26]:
print("Çalışanın yaşı\n", "Çalışan")

Çalışanın yaşı
 Çalışan

In [27]:
print("Istanbul" *5)

IstanbulIstanbulIstanbulIstanbulIstanbul

In [29]:
print("=*=*"*20)

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

Conditional Statements
if

In [30]:
variable = 45
prediction = int(input("Enter the predicted value: "))
if prediction == variable : 
    print("True!")

Enter the predicted value: 45
True!

In [34]:
variable = 45
prediction = int(input("Enter the predicted value: "))
if prediction == variable : 
    print("True!")
if prediction != variable:
    print("False!")

Enter the predicted value: 45
True!

In [33]:
1==1, 1==2

(True, False)

In [ ]:
1

In [35]:
variable = 47
x=int(input(" Guess what! : "))
if x==variable:
    print("True!")
else:
    print("False!")

 Guess what! : 47
True!

# if-elif-else:

In [40]:
variable = 45
x= int(input("Your"))
if x > variable :
    print("Bigger.")
elif x < variable:
    print("Smaller.")
else: 
    print("Equals.")
   #More than two conditions

Your4
Smaller.

In [22]:
x= int(input("how many?"))
if x >2000:
    print("")
else: 
    if x > 200:
        print("Hundreds")
    else: 
        if x > 10: 
            print("tens")
        else:
            print(" smaller than ten")

how many?45
tens

In [44]:
#comment line
"""
comments
"""

'\ncomments\n'

# comparison operators

In [45]:
2>3, 2>=3, 2<3, 2<=3, 3!=5, 2==3

(False, False, True, True, True, False)

In [48]:
"hello" == "Hello"
"hello" > "Hello"

True

In [49]:
[1,2,3]<[1,20,3]

True

In [50]:
list =[1,2,5,12, [5,6]]

In [57]:
1 in list, [5,6] in list, 12 in list, 20 not in list, 1 not in list

(True, True, True, True, False)

In [58]:
statement ="hello"
"a" in statement, "ell" in statement, "as" in statement

(False, True, False)

In [59]:
5 in list[-1] #for the last element (-1)

True

In [64]:
name = input("your name is: ")
if "a" in name: 
    print("your name has 'a' letter.")
else: 
    print("no doesnt have ")

your name is: nazlican
your name has 'a' letter.

In [65]:
d = {"key" : 15, (1,2): -5}
"key" in d, "key" not in d, (1,2) in d

(True, False, True)

In [66]:
list =[]
if list:
    print("list is full")
else: 
    print("list is empty")

list is empty

 # logical operators

In [72]:
1 < 2 and 3==3 
# all statement are correct

True

In [73]:
1<2 and 3==4

False

In [75]:
1<2 or 3==4 
#at least one statement should be correct

True

In [77]:
not 1>2 
#not correct

True

In [79]:
1 == 2 or 3>4 and 5<8 
#false because at least one is false

False

In [82]:
1 != 2 and not 3>4 and 5<8

True

In [85]:
"""returns True if both variables are the same object  IS IS NOT"""
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
#is the same
print(x is y)
#is not same
print(x==y)
#x is equal to y

True
False
True

In [86]:
id(list)

1659764784200

In [87]:
id(x)

1659763949960

In [91]:
x = y

In [92]:
id(x)

1659762286152

In [93]:
id(y)

1659762286152

In [94]:
x is y

True

In [95]:
x is not y

False

In [96]:
x==y

True

In [114]:
x = float(input("Enter a number:"))
if  x>0:
    x
else:
    print("Less than 0")
print(m)

Enter a number:-5
Less than 0
4.0

In [113]:
variable = 45
x = int(input("predicted: "))
print("Correct!" if x == variable else "Wrong!")

predicted: 46
Wrong!

# While

In [120]:
a = 1
b = 10
while a<b: 
    print(a, end = " ")
    a+=1

1 2 3 4 5 6 7 8 9

In [121]:
a =10 
b =1 
while a>b :
    print(a, end =" ")
    a -=1

10 9 8 7 6 5 4 3 2

In [122]:
a = 1
b = 10
sum= 0
while a<=b : 
    sum += a 
    a+=1
print(sum)

55

In [ ]:
p=1
a=1
b=10
sum = 0
while a<=b:
    sum += a**p
    a += 1
print("p = ",p, "1^p +....+10^p = ", sum)

In [ ]:
p=1
a=1
b=10
sum = 0
while a<=b:
    sum += a**p
    a += 1
    p=a
print("p = ",p, "1^p +....+10^p = ", sum)

In [ ]:
a = 1
b = 10
sum= 0
while a<=b : 
    sum += a 
    a+=1
print(sum)